<% @rss_feeds = {"#{@project.name} builds" => {:controller => 'projects', :action => 'show', :id => @project, :format => 'rss'}} -%>

<div id="builds_list">
  <div id="navigate_build">
    <% prev_build, next_build = @project.previous_build(@build), @project.next_build(@build)%>
    
    <%= link_to_unless !prev_build, '&lt; prev', 
                       {:project => @project, :build => prev_build}, :accesskey => 'k' %>
    <strong><%= @build.abbreviated_label %></strong>
    <%= link_to_unless !next_build, 'next &gt;', 
                       {:project => @project, :build => next_build}, :accesskey => 'j' %>
    <%= link_to_unless !next_build, 'latest &gt;&gt;', :project => @project.name %>
  </div>
  
  <% @builds_for_navigation_list.each do |build| %>
    <div class="build_link<%= ' selected' if @build.label == build.label %>">
      <%= link_to_build(@project, build) %>
    </div>
  <% end %>

  <div id="builds_drop_down">
    <%= image_tag "spinner.gif" %>
  </div>
  
  <script type="text/javascript">

  <%= remote_function(
        :update => 'builds_drop_down', :method => "GET",
        :url => {:action => 'drop_down', :project => @project},  
        :complete => "selectCurrentBuild()"
        )%>
        
  function selectCurrentBuild() {
    var build = $('build');
    if (!build) return;
    var options = build.options;
    for (var i = 0; options.length > i; i++) {
        if(options[i].value == '<%= @build.label %>') {
            build.selectedIndex = i;
            build.options[0] = null;
        }
    }
  }
  </script>
</div>

<br />

<% if @build.incomplete? %>
    <%= render :partial => 'build_details' %>
<% else %>
  <% cache(:action => 'show', :action_suffix => "#{@project.name}-#{@build.label}") do %>
    <%= render :partial => 'build_details' %>
  <% end %>
<% end %>

